@font-face {
    font-family: 'Norse';
    src: url('Norse-Font.otf');
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Norse', 'Courier New', sans-serif;
    font-size: 60px;
}

.text {
    font-family: 'Lucida Console', 'Courier New', sans-serif;
}

body {
    text-align: center;
}

#column1,
#column2 {
    vertical-align: top;
    width: 800px;
    display: inline-block;
    margin: 16px;
}

ol.list,
ul.list {
    font-family: 'Lucida Console', 'Courier New', sans-serif;
    display: inline-block;
    text-align: left;
}

.list li {
    padding: 6px;
    font-size: large;
}